<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Статистика PassMaster за неделю</title>
</head>

<body style="font-family: Arial, sans-serif; color: #000;">
    <div style="max-width: 600px; margin: 0 auto;">
        <header style="background-color: #000; color: #fff; padding: 20px; text-align: center;">
            <h1>Статистика PassMaster за неделю</h1>
        </header>
        <main style="padding: 20px;">
            <p>Уважаемый основатель,</p>
            <p>Вот статистика генерации паролей на вашем сайте PassMaster за прошедшую неделю:</p>
            <p>Общее количество генераций: <span style="font-weight: bold;">{{totalGenerations}}</span></p>
            <p>Самый активный день: <span style="font-weight: bold;">{{maxDay.date}}</span> с <span style="font-weight: bold;">{{maxDay.count}}</span> генерациями</p>
            <p>Спасибо за вашу работу на благо пользователей PassMaster!</p>
            <p>С наилучшими пожеланиями.</p>
        </main>
        <footer style="background-color: #000; color: #fff; padding: 20px; text-align: center;">
            <p>© 2024 PassMaster. Все права защищены.</p>
        </footer>
    </div>
</body>

</html>
